@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Pontano Sans'), local('PontanoSans-Regular'), url(https://fonts.gstatic.com/s/pontanosans/v4/gTHiwyxi6S7iiHpqAoiE3Ogdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE8u2Q0OS-KeTAWjgkS85mDg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/*____________Default font-size, line-height and font-family_____________*/

html{
  font-size: 16px;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
}

/*____________________For common properties____________________*/
.container{
  display: flex;
}

.center{
  text-align: center;
}

.left{
  max-width: 60%;
  /*border: 1px solid red;*/
}

.right{
  max-width: 40%;
  /*border: 1px solid red;*/
}

h1{
  font-size: 2.7rem;
  font-weight: 800;
}

h4{
  font-size: 1.5rem;
  font-weight: 600;
}

/*__________header containing the logo and the menus___________________*/
header{
  height: 2rem;
  padding: 1rem 1.5rem;
  align-items: center;
}

header .logo{
  flex-grow: 1;
  align-items: center;
  /*border: 1px solid red;*/
}

header .logo img{
  height: 3rem;
  width: auto;
}

header .logo p{
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: hsla(0, 0%, 0%, 0.5);
}

header .logo .bold{
  font-weight: bold;
  color: hsl(0, 0%, 0%);
}

header nav li{
  margin-left: 1rem;
}

header nav li a{
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.15rem;
  font-weight: bold;
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

/*_____________________Styles for the first Section__________________________*/

section.top{
  background-color: hsl(240, 4%, 85%);
  /*border: 1px solid red;*/
}
    /*_________Left Column__________*/
section.top .left{
  padding: 2rem 1.5rem;
}
section.top .left img{
  max-width: 100%;
  height: auto;
}

    /*_________Right Column__________*/
section.top .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
    /*Sets all the elemts to same width in the top-right section*/
section.top .right h1, section.top .right h4, section.top .right .button{
  margin: 1.25rem 0rem;
  width: 75%;
  line-height: 1.2;
  /*border: 1px solid red;*/
}

section.top .right .button{
  background-color: hsl(240, 4%, 35%);
  padding: .5rem 0rem;
  font-size: 1.5rem;
  color: hsl(360, 100%, 100%);
  /*text-align: center;*/
  /*border: 1px solid red;*/
}

/*__________________Styles the first section below the top___________________*/
section.middle-first{
  border: 1px solid red;
}
    /*_________Styles the left part___________*/
section.middle-first .left{
  padding: 2rem 1.5rem;
  border: 1px solid green;
}

section.middle-first .left img{
  max-width: 100%;
  height: auto;
}

section.middle-first .left h1{
  margin: 2rem 0rem 0rem 0rem;
}



section.middle-first .left p{
  margin: 1.5rem 0rem 0rem 0rem;
  line-height: 1.5;
  /*border: 1px solid red*/
}

section.middle-first .left p{
  font-size: 1rem;
}

    /*__________Styles the right part____________*/
section.middle-first .right{
  padding: 1rem 0rem 2rem 0rem;
  border: 1px solid blue;
}

section.middle-first .right .row{
  padding: 1rem;
  border: 1px solid red;
}

section.middle-first .right .row{
  display: flex;
}

section.middle-first .right .row .rowimg{
  max-width: 35%;
}

section.middle-first .right .row .rowtext{
  margin: 0rem 0rem 0rem 1rem;
  max-width: 65%;
  /*border: 1px solid red;*/
}

section.middle-first .right img{
  max-width: 100%;
  height: auto;
  /*border: 1px solid red;*/
}

section.middle-first .right .row .rowtext{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.middle-first .right .row .rowtext h4, section.middle-first .right .row .rowtext p, section.middle-first .right .row .rowtext a{
  margin: 0rem 0rem .5rem 0rem;
  line-height: 1.5;
}

section.middle-first .right .row .rowtext p, section.middle-first .right .row .rowtext a{
  font-size: 1.1rem;
}

section.middle-first .right .row .rowtext a{
  text-decoration: none;
}
